

.select_container {
    display: flex;
    height: 35px;
    width: 40%;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}

select {
    height: 45px;
    width: 100%;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
    padding-left: 5px;
    font-family: 'Raleway';
}

option {
   font-size: 1rem;
}